{% extends 'accounts/base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <br><br>
        {% if pasw %}
        <div class="card card-body text-center">
            <h1 style="text-align: center;">✅</h1>
            <h3 style="text-align: center;">Password changed successfully!</h3>
            <p style="text-align: center;">Please proceed to <a href="{{ 'login' }}">Login</a></p>
        </div>
        {% else %}
        
        <h1 style="text-align: center;">Reset Password Here</h1>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card card-body"> 
                        <form action="{% url 'forgotpassword' %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-danger w-100" value="Reset Password">
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
